nodered-pistar-mapper.txt
[{"id":"7a3cf00b.0596c","type":"http in","z":"71aea67b.0b7c38","name":"","url":"/pistar-update","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["23cf8c2.5cd9474"]]},{"id":"a2e9c32.554954","type":"debug","z":"71aea67b.0b7c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]},{"id":"23cf8c2.5cd9474","type":"function","z":"71aea67b.0b7c38","name":"","func":"msg.src = msg.payload.photoUrl\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["a2e9c32.554954","a26b7155.4fb7e","cb8daae2.a663e8"]]},{"id":"a26b7155.4fb7e","type":"http response","z":"71aea67b.0b7c38","name":"","statusCode":"","headers":{},"x":450,"y":200,"wires":[]},{"id":"cb8daae2.a663e8","type":"worldmap","z":"71aea67b.0b7c38","name":"","lat":"","lon":"","zoom":"","layer":"Esri Dark Grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/pistarmapper","x":650,"y":160,"wires":[]}]