nodered-pistar-mapper.json
[{"id":"156035d0.2dc81a","type":"http in","z":"71aea67b.0b7c38","name":"","url":"/powerdmr","method":"post","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["11ede63.09ebb1a"]]},{"id":"4177b897.860498","type":"ui_worldmap","z":"71aea67b.0b7c38","group":"3ecf99b1.fbcf16","order":1,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"3","layer":"Esri Dark Grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/powermap","x":710,"y":440,"wires":[]},{"id":"674ddd98.ad4f34","type":"debug","z":"71aea67b.0b7c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":400,"wires":[]},{"id":"11ede63.09ebb1a","type":"function","z":"71aea67b.0b7c38","name":"","func":"msg.payload.name = msg.payload.Name\nmsg.src = msg.payload.photoUrl\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["4177b897.860498","674ddd98.ad4f34","4de8c3e.da15c3c"]]},{"id":"4de8c3e.da15c3c","type":"http response","z":"71aea67b.0b7c38","name":"","statusCode":"","headers":{},"x":450,"y":480,"wires":[]},{"id":"3ecf99b1.fbcf16","type":"ui_group","z":"","name":"Map","tab":"fba6315e.56037","disp":true,"width":"20","collapse":true},{"id":"fba6315e.56037","type":"ui_tab","z":"","name":"DMR Home","icon":"dashboard","disabled":false,"hidden":false}]